{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock%}

{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label type="email" for="email">Email</label>
        <input name="email" id="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <div id="politica_privacidad">
            <h2> Política de Privacidad de LilMarcian </h2>

            <p><strong>Fecha de entrada en vigencia:</strong> 01/11/2023</p>

            <p>Esta Política de Privacidad describe cómo "LilMarcian" recopila, utiliza y comparte la información personal de los usuarios de nuestra aplicación web "LilMarcian Predictions". Al utilizar la Aplicación, usted acepta las prácticas de privacidad descritas en esta política.</p>

            <h2>Información que Recopilamos</h2>
            <ul>
                <li><strong>Información de Registro:</strong> Al crear una cuenta en la Aplicación, recopilamos su dirección de correo electrónico, nombre de usuario y contraseña.</li>
                <li><strong>Información de Predicciones de Acciones:</strong> Cuando realiza predicciones de valores de acciones en la Aplicación, almacenamos la información de las predicciones en nuestra base de datos.</li>
                <li><strong>Información de Uso:</strong> Recopilamos información sobre cómo utiliza la Aplicación, como las páginas que visita, las acciones que realiza y la interacción con otras características.</li>
            </ul>

            <h2>Uso de la Información</h2>
            <p>Utilizamos la información recopilada para:</p>
            <ul>
                <li>Proporcionar y mantener la funcionalidad de la Aplicación.</li>
                <li>Mejorar la experiencia del usuario y personalizar el contenido.</li>
                <li>Enviar notificaciones y actualizaciones relacionadas con la Aplicación.</li>
                <li>Responder a sus preguntas y solicitudes de soporte.</li>
                <li>Cumplir con las leyes y regulaciones aplicables.</li>
            </ul>

            <h2>Compartir Información</h2>
            <p>No compartimos su información personal con terceros, excepto en las siguientes circunstancias:</p>
            <ul>
                <li>Con su consentimiento explícito.</li>
                <li>Cuando sea necesario para cumplir con obligaciones legales.</li>
                <li>Con proveedores de servicios que nos ayudan a operar la Aplicación (por ejemplo, proveedores de hosting y servicios de análisis).</li>
            </ul>

            <h2>Seguridad de la Información</h2>
            <p>Tomamos medidas razonables para proteger la información personal que recopilamos. Sin embargo, ninguna transmisión de datos por Internet o sistema de almacenamiento es completamente seguro. Por lo tanto, no podemos garantizar la seguridad de su información.</p>

            <h2>Sus Derechos</h2>
            <p>Usted tiene ciertos derechos con respecto a su información personal, incluyendo el acceso, corrección y eliminación de la misma. Puede ejercer estos derechos poniéndose en contacto con nosotros a través de la información de contacto proporcionada al final de esta política.</p>

            <h2>Cambios en la Política de Privacidad</h2>
            <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio significativo se notificará a través de la Aplicación o por otros medios apropiados. Le recomendamos que revise periódicamente esta política para estar al tanto de las actualizaciones.</p>

            <h2>Preguntas y Contacto</h2>
            <p>Si tiene alguna pregunta sobre esta Política de Privacidad o sobre cómo manejamos su información, póngase en contacto con nosotros a través de la siguiente información de contacto:</p>
            <ul>
                <li>LilMarcian</li>
                <li>lilmarcianpredictions@gmail.com</li>
            </ul>

            <p>Gracias por utilizar "LilMarcian Predictions". Su privacidad es importante para nosotros.</p>

            <p>LilMarcian</p>
            <p>01/11/2023</p>
            <input type="checkbox" id="aceptacion" name="aceptacion" required>
            <label for="aceptacion">Acepto los términos y condiciones de la Política de Privacidad</label>
        </div>
        <input type="submit" value="Register">
    </form>
{% endblock %}