{% extends 'base.html' %}

{% block content %}
  <h1 style="text-align: center;">Prediction History</h1>
  <table id="his_pred_table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Date Prediction created</th>
        <th>Price Prediction created</th>
        <th>Price Prediction open (30 days) </th>
        <th>Price Prediction close (30 days)</th>
        <th>Price Prediction open (7 days)</th>
        <th>Price Prediction close (7 days)</th>

      </tr>
    </thead>
    <tbody>
      {% for prediction in predictions %}
        <tr>
          <td>{{ prediction['symbol'] }}</td>
          <td>{{ prediction['date_created'] }}</td>
          <td>{{ prediction['price_created'] }}</td>
          <td>{{ prediction['price_pred_open_30_1'] }}</td>
          <td>{{ prediction['price_pred_close_30_1'] }}</td>
          <td>{{ prediction['price_pred_open_07_1'] }}</td>
          <td>{{ prediction['price_pred_close_07_1'] }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
